@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*{
  margin:0;
}

body {
  margin: 0;
  color: #333333;
  font-family: 'Karla', sans-serif;
}

h1 {
  font-family: 'Markazi Text', serif;
}

a {
  width: max-content;
}

.container{
  max-width: 1140px;
  padding-inline: 16px;
  margin: 0 auto;
}

.container h2{
  margin-block: 16px;
}

.navbar, footer{
  background-color: #EDEFEE;
  font-family: 'Markazi Text', serif;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  padding-right: 0px;
}

.navbar-img-container{
  display: flex;
}

.navbar-img-container img{
  width: auto;
  padding-block: 8px;
}

.menu-icon{
  display: flex;
  align-items: center;
  justify-content: right;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-icon.active{
  color:#EDEFEE;
}


.nav-elements {
  position: absolute;
  z-index: 100;
  right: 0;
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  width: 0px;
  height: auto;
  transition: all 0.3s ease-in;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: #495E57;
}

.nav-elements li a {
  color: #EDEFEE;
}

.nav-elements.active {
  width: 200px;
}

.navbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

/* .nav-elements {
  display: flex;
  flex-direction: column;
} */

/* .nav-elements ul li {
  margin-right: unset;
  margin-top: 22px;
} */

header{
  background-color: #495E57;
  color: #EDEFEE;
}

.header-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.title {
  font-size: 56px;
  color: #F4CE14;
  font-weight: 500;
}

.subtitle {
  margin-top: -6px;
  font-size: 30px;
}

.leadText {
  margin-top: 6px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Karla', sans-serif;
}

button{
  border-radius: 16px;
  font-size: 16px;
  background: #F4CE14;
  border-style: none;
  font-weight: 700;
  padding: 8px 16px;
  cursor: pointer;
}

button:active {
  background-color: #495E57;
  color: #EDEFEE;
}

.header-text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Markazi Text', serif;
}

.header-img{
  max-width: 100%;
  padding-block: 16px;
}

li{
  list-style-type: none;
}


li a{
  text-decoration: none;
  color: #333333;
}

.card-container{
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  gap: 20px;
  max-width: 350px;
}

.special-card{
  border-radius: 16px;
  background-color: #EDEFEE;
  display: flex;
  flex-direction: column;
}

.card-img{
  max-width: 100%;
  border-radius: 16px 16px 0 0;
}

.card-details{
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.card-details > p{
  margin-bottom: 16px;
}

.card-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card-header p{
  color: #EE9972;
}

.testimonials-section{
  margin-top: 32px;
}

.testimonials-carousel{
  position: relative;
  width: 80%;
  height: 350px;
  margin: 0 auto;
}

.testimonial-item {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.testimonial-item.active {
  opacity: 1;
}

.testimonial-quote {
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
}

.testimonial-name{
  font-size: 16px;
  text-align: right;
}

.about-section{
  background-color: #F4CE14;
  padding-top: 8px;
  padding-bottom: 24px;
  /* color: #333333; */
}

.story-container{
  position: relative;
}

.founders-img{
  width: 100%;
}

.about-text-container{
  display: flex;
  align-items: center;
  padding: 16px
}





.booking-form{
  display: grid;
  max-width: 200px;
  gap: 20px;
}






.footer-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image-container{
  margin: 0 auto;
}

.footerImg{
  width: 100px;
  padding: 20px
}

footer nav{
  margin: 0 auto;
}

footer ul{
  padding: 0;
  margin-top: 0;
}

footer h3{
  margin-bottom: 5px;
}

@media(min-width:350px){
  .testimonials-carousel{
    height: 325px;
  }
}

@media(min-width:400px){
  .testimonials-carousel{
    height: 275px;
  }
}

@media(min-width:500px){
  .testimonials-carousel{
    height: 225px;
  }
}

@media(min-width:576px){
  .card-container{
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
  }

  .testimonials-carousel{
    height: 250px;
    width: 75%;
  }

  .testimonial-quote {
    font-size: 26px;
  }

  .testimonial-name{
    font-size: 18px;
  }
}

@media(min-width: 768px){
  .footer-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .menu-icon{
    display: none;
  }

  .navbar-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .nav-elements{
    display: flex;
    justify-content:flex-end;
    position: static;
    z-index: auto;
    width: auto;
    height: auto;
    transition: initial;
    overflow: visible;
    white-space: normal;
    margin: 0;
    background-color: #EDEFEE;
    padding-bottom: 0px;

  }

  .nav-elements ul{
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-block: 0;
  }

  .nav-elements li{
    margin-inline: 1rem;
  }

  .nav-elements li a {
    color: #333333;
  }

  .header-container{
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    grid-gap: 20px;
  }

  .card-container{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .testimonials-carousel{
    width: 70%;
  }

  .testimonial-quote {
    font-size: 30px;
  }

  .testimonial-name{
    font-size: 20px;
  }
}

@media(min-width: 980px){
  .about-text-container{
    position: absolute;
    display: flex;
    align-items: center;
    top: 8%;
    bottom: 8%;
    left: 5%;
    right: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #EDEFEE;
    font-size: 16px;
    padding: 16px
  }
}

@media(min-width: 1040px){
  .testimonials-carousel{
    height: 200px;
  }

  .about-text-container{
    font-size: 17px;
  }
}

@media(min-width: 1100px){
  .about-text-container{
    font-size: 18px;
  }
}