@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;700&display=swap');
body {
  margin: 0;
  color: #333333;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
}

.navbar, footer{
  background-color: #EDEFEE;
  font-family: 'Markazi Text', serif;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
}

.navbar-container{
  display: flex;
  justify-content: space-between;
}

.navbar-img-container{
  display: flex;
}

.navbar-img-container img{
  width: auto;
  padding-block: 8px;
  margin-inline: 1rem;
}

.menu-icon{
  display: flex;
  align-items: center;
  justify-content: right;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-icon.active{
  color:#EDEFEE;
}


.nav-elements {
  position: absolute;
  z-index: 100;
  right: 0;
  margin: 0;
  padding: 0;
  width: 0px;
  height: auto;
  transition: all 0.3s ease-in;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: #495E57;
}

.nav-elements li a {
  color: #EDEFEE;
}

.nav-elements.active {
  width: 200px;
}

/* .nav-elements {
  display: flex;
  flex-direction: column;
} */

/* .nav-elements ul li {
  margin-right: unset;
  margin-top: 22px;
} */

li{
  list-style-type: none;
}


li a{
  text-decoration: none;
  color: #333333;
}

.footer-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image-container{
  margin: 0 auto;
}

.footerImg{
  width: 100px;
  padding: 20px
}

footer nav{
  margin: 0 auto;
}

footer ul{
  padding: 0;
  margin-top: 0;
}

footer h3{
  margin-bottom: 5px;
}

@media(min-width: 768px){
  .footer-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .menu-icon{
    display: none;
  }

  .navbar-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .nav-elements{
    display: flex;
    justify-content:end;
    position: static;
    z-index: auto;
    width: auto;
    height: auto;
    transition: initial;
    overflow: visible;
    white-space: normal;
    margin: 0;
    background-color: #EDEFEE;

  }

  .nav-elements ul{
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-block: 0;
  }

  .nav-elements li{
    margin-inline: 1rem;
  }

  .nav-elements li a {
    color: #333333;
  }
}
