body {
  margin: 0;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.navbar{
  background-color: #EDEFEE;
}

.navbar-container{
  display: flex;
  justify-content: space-around;
}

.navlinks{
  display: flex;
  

}

.navlinks li{
  list-style-type: none;
  margin-inline: 1rem;
}

.navlinks li a{
  text-decoration: none;
}

