@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*{
  margin:0;
}

body {
  margin: 0;
  color: #333333;
  font-family: 'Karla', sans-serif;
}

main{
  min-height: calc(100vh - 396px)
}

h1 {
  font-family: 'Markazi Text', serif;
}

a {
  width: max-content;
  text-decoration: none;
}

.container{
  max-width: 1140px;
  padding-inline: 16px;
  margin: 0 auto;
}

.container h2{
  margin-block: 16px;
}

.navbar, footer{
  background-color: #EDEFEE;
  font-family: 'Markazi Text', serif;
}

.navbar {
  position: sticky;
  top:0;
  z-index: 9999;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.navbar-container{
  display: grid;
  grid-template-columns: 1fr auto auto;
}

.navbar-img-container{
  display: flex;
  align-items: center;
  justify-content: right;
}

.navbar-logo {
  width: auto;
  padding-block: 8px;
}

.navbar-cart {
  padding: 12px;
  padding-top: 8px;
}

.cart-count {
  color: #495E57;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  position: absolute;
  top: 13px;
  min-width: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  padding: 0.25rem 0.5rem;
}

.dropdown-cart-count{
  margin-left: 8px;
  color: #F4CE14;
}


.menu-icon{
  display: flex;
  align-items: center;
  justify-content: right;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-icon.active{
  color:#EDEFEE;
}


.nav-elements {
  position: absolute;
  z-index: 100;
  right: 0;
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  width: 0px;
  height: auto;
  transition: all 0.3s ease-in;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: #495E57;
}

.nav-elements li, .nav-elements li a {
  color: #EDEFEE;
}

.nav-elements.active {
  width: 200px;
}

.navbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

/* .nav-elements {
  display: flex;
  flex-direction: column;
} */

/* .nav-elements ul li {
  margin-right: unset;
  margin-top: 22px;
} */

header{
  background-color: #495E57;
  color: #EDEFEE;
}

.header-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.title {
  font-size: 56px;
  color: #F4CE14;
  font-weight: 500;
}

.subtitle {
  margin-top: -6px;
  font-size: 30px;
}

.leadText {
  margin-top: 6px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Karla', sans-serif;
}

button{
  border-radius: 16px;
  font-size: 16px;
  background: #F4CE14;
  border-style: none;
  font-weight: 700;
  padding: 8px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

button:active {
  background-color: #495E57;
  color: #EDEFEE;
}

button:disabled {
  pointer-events: none;
}

.header-text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Markazi Text', serif;
}

.header-img{
  max-width: 100%;
  padding-block: 16px;
}

li{
  list-style-type: none;
}


li a{
  color: #333333;
}

.react-multi-carousel-track li{
  display: grid;
}

.preview-card{
  border-radius: 16px;
  background-color: #EDEFEE;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-inline: 8px;
}

.card-img{
  max-width: 100%;
  border-radius: 16px 16px 0 0;
}

.card-details{
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.card-details > p{
  margin-bottom: 16px;
}

.card-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card-header p{
  color: #EE9972;
}

.testimonials-section{
  margin-top: 32px;
}

.testimonials-carousel{
  position: relative;
  width: 80%;
  height: 350px;
  margin: 0 auto;
}

.testimonial-item {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.testimonial-item.active {
  opacity: 1;
}

.testimonial-quote {
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
}

.testimonial-name{
  font-size: 16px;
  text-align: right;
}

.about-section{
  background-color: #F4CE14;
  padding-top: 8px;
  padding-bottom: 24px;
}

.story-container{
  position: relative;
}

.founders-img{
  width: 100%;
}

.about-text-container{
  display: flex;
  align-items: center;
  padding: 16px
}

.centered{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking-img{
  width: 100vw;
  max-width: 768px;
}

.centered h1{
  font-size: 36px;
  font-weight: 400;
}

.centered p{
  font-size: 16px;
}

.order-link-btn{
padding-bottom: 32px;
}

form{
  display: grid;
  width: 100%;
  max-width: 768px;
  gap: 20px;
  margin-block: 16px;
}

form button{
  width: min-content;
}

form label {
  font-size: 18px;
  font-weight: 700;
  display: block;
}

form input, form select{
  width: 100%;
  box-sizing: border-box;
  height: 22px;
}

form textarea{
  width: 100%;
  box-sizing: border-box;
  resize: none;
}

form .guest-label{
  display: inline;
}

input[type=number] {
  width: auto;
  vertical-align: middle;
  position: relative;
  bottom: 1px;
  margin-left: 8px;
}


input[type=checkbox] {
  width: 22px;
  vertical-align: middle;
  position: relative;
  bottom: 1px;
  margin-left: 8px;
}

.date-and-time, .full-name, .city-state{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.confirmation-label{
  font-weight: 700;
}

.user-comments{
  font-style: italic;
}

.label-optional{
  font-weight: 500;
}

.empty-cart-img{
  width: 60vw;
  padding: 32px;
  max-width: 525px;
}



.order-online-container h1{
  position: sticky;
  top: 56px;
  z-index: 50;
  background-color: #FFFFFF;
}

.tabs-wrapper{
  position: sticky;
  top: 94px;
  z-index: 50;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #FFFFFF;
}

.tabs-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tab-item{
  display: inline-block;
  display: flex;
  justify-content: center;
}

.tab-item-btn{
  padding-top: 1.75rem;
  padding-bottom: 0.75rem;
  background-color: unset;
  padding: 8px 16px;
  flex-direction: column;
  justify-content: space-between;
  max-height: 140px;
}

.tab-item-btn:active {
  background-color: unset;
  color: unset;
  filter: drop-shadow(0 0 0.75rem #333333);
}

.tab-btn-img{
  margin-bottom: 8px;
  width: 100%;
  max-width: 75px;
  border-radius: 50%;
  border: 10px solid #EDEFEE;
}

.tab-btn-img-active{
  border: 8px solid #495E57;
}

.tab-btn-active{
  font-weight:700;
}

.tab-btn-not-active{
  font-weight: 500;
}

.tab-btn-text{
  display: inline-block;
  border-bottom: 2px solid transparent;
  transition: color 0.2s ease-in-out, 0.2s ease-in-out;
}

.order-detail-cards-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 8px;
  margin-bottom: 16px;
}

.detail-card{
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 3fr;
}

.detail-card hr{
  color: #333333;
}
.order-detail-cards-container hr:last-child{
  display: none;
}

.detail-card-img{
  width: 100%;
  border-radius: 16px;
}

.detail-card-details{
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: space-around;
}

.detail-card-details h3{
  font-size: 24px;
}

.detail-card-transaction{
  display: flex;
  justify-content: space-between;
}

.detail-card-transaction p{
  color: #EE9972;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.tabs{
  margin-top: 2rem;
}

.hidden{
  display: none;
}

.next-btn-text{
  margin-right: 8px;
}

.products-summary{
  display: flex;
  flex-direction: column;
}

.product-container {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.product-image {
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 25%;
  min-width: 100px;
}

.product-image img {
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  height: auto;
}

.product-info {
  flex-grow: 1;
  margin-right: 0.5rem;
}

.product-info h3 {
  margin: 0;
  font-size: 1.5rem;
}

.product-description {
  display: none;
}

.product-price-qt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-price {
  font-weight: bold;
  font-size: 1.25rem;
}

.product-quantity {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.product-quantity button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.25rem;
}

.product-quantity span {
  margin: 0 0.5rem;
  font-size: 1.25rem;
}


.footer-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 16px;
}

.image-container{
  margin: 0 auto;
}

.footerImg{
  width: 100px;
  padding: 20px
}

footer nav{
  margin: 0 auto;
}

footer ul{
  padding: 0;
  margin-top: 0;
}

footer h3{
  margin-top: 16px;
  margin-bottom: 5px;
}

@media(min-width:350px){
  .testimonials-carousel{
    height: 325px;
  }
}

@media(min-width:400px){
  .testimonials-carousel{
    height: 275px;
  }
}

@media(min-width:500px){
  .testimonials-carousel{
    height: 225px;
  }
}

@media(min-width:576px){
  .card-container{
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
  }

  .testimonials-carousel{
    height: 250px;
    width: 75%;
  }

  .testimonial-quote {
    font-size: 26px;
  }

  .testimonial-name{
    font-size: 18px;
  }

  .product-description {
    display: block;
    margin: 0.5rem 0;
    color: #666;
  }

  .product-image {
    min-width: 150px;
  }

  .tabs-container{
    display: flex;
  }
}

@media(min-width: 768px){
  main{
    min-height: calc(100vh - 294px)
  }

  .footer-container{
    grid-template-columns: repeat(4, 1fr);
  }

  .menu-icon{
    display: none;
  }

  .navbar-container{
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-areas:
      "A B C D"
  }

  .navbar-container > *:nth-child(1) {
    grid-area: A;
  }

  .navbar-container > *:nth-child(2) {
    grid-area: D;
  }

  .navbar-container > *:nth-child(3) {
    grid-area: C;
  }

  .navbar-container > *:nth-child(4) {
    grid-area: B;
  }

  .nav-elements{
    display: flex;
    justify-content:flex-end;
    position: static;
    z-index: auto;
    width: auto;
    height: auto;
    transition: initial;
    overflow: visible;
    white-space: normal;
    margin: 0;
    background-color: #EDEFEE;
    padding-bottom: 0px;

  }

  .nav-elements ul{
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-block: 0;
  }

  .nav-elements li{
    margin-inline: 1rem;
  }

  .nav-elements li a {
    color: #333333;
  }

  .header-container{
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    grid-gap: 20px;
  }

  .card-container{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .testimonials-carousel{
    width: 70%;
  }

  .testimonial-quote {
    font-size: 30px;
  }

  .testimonial-name{
    font-size: 20px;
  }

}

@media(min-width: 980px){
  .about-text-container{
    position: absolute;
    display: flex;
    align-items: center;
    top: 8%;
    bottom: 8%;
    left: 5%;
    right: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #EDEFEE;
    font-size: 16px;
    padding: 16px
  }
}

@media(min-width: 1040px){
  .testimonials-carousel{
    height: 200px;
  }

  .about-text-container{
    font-size: 17px;
  }
}

@media(min-width: 1100px){
  .about-text-container{
    font-size: 18px;
  }
}